{% extends 'main.jinja' %}
{% from 'macros/form.jinja' import form_field with context %}

{% block content %}
<div class="container">
    <h4 class="h4-content">Objednávka</h4>
    <h4>Restaurace: {{ restaurant.nazev }}</h4>

    <h4>Položky objednávky</h4>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Název</th>
                <th>Množství</th>
                <th>Celková cena</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    <img width="50px" height="50px" src="{{ url_for('static', filename=item.foto_jidla.replace('\\', '/')) }}" alt="Fotografie položky">
                </td>
                <td>{{ item.nazev }}</td>
                <td>{{ item.mnozstvi }}</td>
                <td>{{ item.cena_itemu | round(2) }} Kč</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Doprava: {{ transport_costs }} Kč</p>
    <h5>Celková cena: {{ total_price+transport_costs | round(2)}} Kč</h5>

    <h4>Vaše údaje</h4>
    <p>Jméno: {{ user_info[1] }}</p>
    <p>Příjmení: {{ user_info[2] }}</p>
    <p>Email: {{ user_info[3] }}</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form_field(form.telefon) }}
        {{ form_field(form.adresa) }}
        {{ form_field(form.zpusob_platby) }}
        <form method="POST">
            <button type="submit" class="btn">Závažně objednat</button>
        </form>
    </form>
</div>
{% endblock %}
