{% extends 'main.jinja' %}

{% block content %}
    {% set check = true %}
    {% for item in items%}
        {% if item.nazev_akce and check%}
            <div class="menu-event">
                <p>❗️Právě probíha akce <span style="font-weight: 500">{{ item.nazev_akce }}</span>. Sleva <span style="font-weight: 700">{{ item.sleva_procenta }} %</span>❗️</p>
                {% set check = false %}
            </div>
        {% endif %}
    {% endfor %}

    <div class="container">
        <div>
            <a href="{{ url_for('restaurant.restaurants_list') }}"> <img src="/static/images/arrow_back.svg" alt="Zpět" width="20px" height="20px" class="back-icon"></a>
        </div>
        <div class="restaurant-description">
            <h4 class="h4-content">{{ restaurant.nazev }}</h4>
            <p>{{ restaurant.info }}</p>
        </div>

        <div class="menu-container">
            {% if chod_items %}
                <div class="menu-column-food">
                    <h5>CHODY</h5>
                    {% for item in chod_items %}
                        <div class="menu-item">
                            <div class="menu-item-photo">
                                <img src="{{ url_for('static', filename=item.foto_jidla.replace('\\', '/')) }}" alt="{{ item.nazev }}">
                            </div>
                            <div class="menu-item-info">
                                <h4>{{ item.nazev }}</h4>
                                <p>
                                    {% if item.sleva_procenta %}
                                        <span class="old-price">{{ (item.cena * 1.15) | round(2) }} Kč</span>
                                        <span class="new-price">{{ ((item.cena * 1.15) * (100 - item.sleva_procenta) / 100) | round(2) }} Kč</span>
                                    {% else %}
                                        <span class="price">{{ (item.cena * 1.15) | round(2) }} Kč</span>
                                    {% endif %}
                                </p>
                                <form method="POST">
                                    <input type="hidden" name="item_id" value="{{ item.id_jidla }}">
                                    <label for="quantity">Množství:
                                        <input type="number" name="quantity" min="1" max="5" value="1" required>
                                    </label>
                                    <button type="submit" class="add-to-cart">Přidat do košíku
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if piti_items %}
                <div class="menu-column-drink">
                    <h5>PITÍ</h5>
                    {% for item in piti_items %}
                        <div class="menu-item">
                            <div class="menu-item-photo">
                                <img src="{{ url_for('static', filename=item.foto_jidla.replace('\\', '/')) }}" alt="{{ item.nazev }}">
                            </div>
                            <div class="menu-item-info">
                                <h4>{{ item.nazev }}</h4>
                                <p>
                                    {% if item.sleva_procenta %}
                                        <span class="old-price">{{ (item.cena * 1.15) | round(2) }} Kč</span>
                                        <span class="new-price">{{ ((item.cena * 1.15) * (100 - item.sleva_procenta) / 100) | round(2) }} Kč</span>
                                    {% else %}
                                        <span class="price">{{ (item.cena * 1.15) | round(2) }} Kč</span>
                                    {% endif %}
                                </p>
                                <form method="POST">
                                    <input type="hidden" name="item_id" value="{{ item.id_jidla }}">
                                    <label for="quantity">Množství:
                                        <input type="number" name="quantity" min="1" max="7" value="1" required>
                                    </label>
                                    <button type="submit" class="btn">Přidat do košíku</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
