{% block footer %}
    <footer>
        <div class="container">
            <div class="footer-text">
                <p>jidlohned@jidlohned.com</p>
                <p><a href="#">Zásady použití cookies</a></p>
                <p><a href="#">Obchodní podmínky</a></p>
                <div class="social_media">
                    <div class="social_logo"></div>
                    <div class="social_logo"></div>
                </div>
            </div>
            <div class="end">
                <p><span class="line">-----<<</span> &copy; 2025 JidloHned <span class="line">>>-----</span></p>
            </div>
        </div>
    </footer>
{% endblock %}