{% extends 'main.jinja' %}

{% block content %}
<section class="sec2">
    <div class="container">
        <h1><span class="span-almost-black">JidloHned</span></h1>
        <p>S námi máte doma jídlo <span class="span-almost-black">hned!</span></p>
    </div>
</section>

<section class="sec3">
    <div class="container">
        <h2>Garantujeme, že jídlo bude po dovozu teplé a šťavna<span class="cursor">té.</span></h2>
            <div class="obrazky">
                <img src="/static/images/objednanifin.png" alt="objednani" width="290" height="260" class="objednani">
                <img src="/static/images/skutrfin.png" alt="skutr" width="290" height="260" class="skutr">
                <img src="/static/images/dorucenofin.png" alt="taska" width="290" height="260" class="taska">
            </div>
            <h4>... Ať už venku sněží, prší, je zima nebo led, s námi bude jídlo hned! ...</h4>
    </div>
</section>

{% endblock %}