{% extends 'profile_main.jinja' %}
{% from 'macros/form.jinja' import form_field with context %}

{% block content %}
    <div class="profile_block">
            <h4>Změna hesla</h4>
            <form method="POST" action="{{ url_for('user.password_change', user_id=user_id) }}">
                {{ form.hidden_tag() }}
                <div class="form-container">
                    {{ form_field(form.old_password) }}
                </div>

                <div class="form-container">
                    {{ form_field(form.new_password) }}
                </div>

                <div class="form-container">
                    {{ form_field(form.confirm_password) }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Změnit heslo</button>
                </div>
            </form>
    </div>
{% endblock %}
