{% extends 'main.jinja' %}
{% from 'macros/form.jinja' import form_field with context %}

{% block content %}
    <div class="container">
        <h4 class="h4-content">Registrace</h4>
        <form method="POST" action="{{ url_for('user.register') }}">
            {{ form.hidden_tag() }}
            <div class="form-container">
                {{ form_field(form.name) }}
            </div>

            <div class="form-container">
                {{ form_field(form.surname) }}
            </div>

            <div class="form-container">
                {{ form_field(form.telephone, placeholder="Na začátku uveďte předčíslí") }}
            </div>

            <div class="form-container">
                {{ form_field(form.login, placeholder="Zadejte platný email") }}
            </div>
            <div class="form-container">
                {{ form_field(form.password, placeholder="Heslo musí mít alespoň 8 znaků!") }}
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-success">Registrovat se</button>
            </div>
        </form>
    </div>
{% endblock %}